#skills {
    position: relative;
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    margin: 65px auto 0 auto;
}

#skills::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    color: white;
    text-align: center;
}

#columnsWrapper {
    /* width: 1128px; */
    width: 75%;
    border: 6px solid white;
    border-radius: 50px;
    /* padding: 8px; */
    margin: auto;
    background-color: #368ce7;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

#rowWrapper {
    width: 28%;
    margin: 18px;
    height: 433px;
    position: relative;
    float: left;
}

#left {
    position: relative;
    float: left;
/*    padding: 18px;*/
    margin: 18px;
    height: 433px;
    border: 7px solid white;
    border-radius: 25px;
    width: 25%;
}

#right {
    position: relative;
    float: left;
/*    padding: 18px;*/
    margin: 18px;
    height: 433px;
    border: 7px solid white;
    border-radius: 25px;
    width: 25%;
}

#top {
    width: 95%;
    height: 198px;
    border: 7px solid white;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 25px;
}

#left::after, #right::after, #rowWrapper::after {
    content: "";
    clear: both;
    display: table;
}

#bottom {
    width: 95%;
    height: 132px;
    border: 7px solid white;
    border-radius: 25px;   
    margin: auto;
}

body {
    background-color: dodgerblue;
    margin-top: 50px;
}

#skills, h4 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.headr {
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.list {
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
}

#updateMsg {
    position: relative;
    margin: 50px auto;
    font-size: 1.4vw;
}